.user-detail-header {
    min-height: 250px;
    background-color: #ff6e42;
    color: whitesmoke;
    display: flex;
    justify-content: flex-end;
}

.info {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-bottom: 16px;

    img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 100%;
    }

    h2, p {
        margin: 0;
    }

}

.user-details {
    height: 100px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h2 {
        margin-bottom: 0;
    }
}

.pin-right-upper-corner {
    position: absolute;
    right: 0;
    top: 0;
}

.address-info {
    margin-left: 16px;
}